<% title t('index.title') %>

<%= render partial: 'application/index/header' %>

<input type="hidden" id="lang" value="<%= I18n.locale %>">

<div class="ui aligned basic segment">
<!--  <h1 class="ui header"><%#= t('index.h1') %></h1>-->

  <div class="ui form">
    <%= render partial: 'application/index/algorithm_field' %>
    <%= render partial: 'application/index/trace_field' %>
  </div>
</div>

<%= render partial: 'application/common/footer' %>

<%= render partial: 'application/index/teacher_modal' %>

<script>
  $(function() {
    $('.ui.dropdown').dropdown();

    $('.ui.button.share').popup({
      popup : $('.popup.share'),
      on: 'click'
    });

    $('.ui.modal').modal({
      blurring: true
    });
  });
</script>
