<% title t('index.title') %>

<%= render partial: 'application/show_task/header' %>

<input type="hidden" id="lang" value="<%= I18n.locale %>">

<div class="ui aligned basic segment">
  <div class="ui form">
    <%= render partial: 'application/common/algorithm_text_field', locals: { data: @result } %>
    <%#= render partial: 'application/common/trace_field', locals: { data: @result } %>
  </div>
</div>

<%#= render partial: 'application/common/footer' %>

<%= render partial: 'application/show_task/student_first_modal' %>
<%= render partial: 'application/show_task/student_second_modal' %>



<script>
  $(function() {
    $('.ui.dropdown').dropdown();

    $('.ui.modal').modal({
      allowMultiple: false
    });
    // attach events to buttons
    $('.second.modal')
        .modal('attach events', '.first.modal .button');
  });
</script>
